<%= form_with(model: charity_organization, local: true) do |form| %>
  <% if charity_organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(charity_organization.errors.count, "error") %> prohibited this charity_organization from being saved:</h2>

      <ul>
      <% charity_organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :charity_organization_name %>
  </div>

  <div class="field">
    <%= form.label :cause_id %>
    <%= form.text_field :cause_id, id: :charity_organization_cause_id %>
  </div>

  <div class="field">
    <%= form.label :mission %>
    <%= form.text_area :mission, id: :charity_organization_mission %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :charity_organization_website %>
  </div>

  <div class="field">
    <%= form.label :charity_api_id %>
    <%= form.text_field :charity_api_id, id: :charity_organization_charity_api_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
