<h1>Editing Charity Organization</h1>

<%= render 'form', charity_organization: @charity_organization %>

<%= link_to 'Show', @charity_organization %> |
<%= link_to 'Back', charity_organizations_path %>
