<p id="notice"><%= notice %></p>

<h1>Charity Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cause</th>
      <th>Mission</th>
      <th>Website</th>
      <th>Charity api</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charity_organizations.each do |charity_organization| %>
      <tr>
        <td><%= charity_organization.name %></td>
        <td><%= charity_organization.cause_id %></td>
        <td><%= charity_organization.mission %></td>
        <td><%= charity_organization.website %></td>
        <td><%= charity_organization.charity_api_id %></td>
        <td><%= link_to 'Show', charity_organization %></td>
        <td><%= link_to 'Edit', edit_charity_organization_path(charity_organization) %></td>
        <td><%= link_to 'Destroy', charity_organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charity Organization', new_charity_organization_path %>
