<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charity_organization.name %>
</p>

<p>
  <strong>Cause:</strong>
  <%= @charity_organization.cause_id %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @charity_organization.mission %>
</p>

<p>
  <strong>Website:</strong>
  <%= @charity_organization.website %>
</p>

<p>
  <strong>Charity api:</strong>
  <%= @charity_organization.charity_api_id %>
</p>

<%= link_to 'Edit', edit_charity_organization_path(@charity_organization) %> |
<%= link_to 'Back', charity_organizations_path %>
